@{
    ViewBag.Title = "Home Page";
}



<div style="margin-top:10%;">
<p>First Name : Armin</p>
<p>Last Name: Pezo</p>
<p>E-mail: armin.pezo@gmail.com</p>
</div>


<a href="/Kupac/Prikazi">Prikazi zadatak</a>